<h1>つぶやきリスト</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>ラインナップ</th>
  </tr>
<% @posts.each do |post| %>
  <tr>
    <td><%= post.content %></td>
    <td><%= link_to "つぶやきを編集する", edit_post_path(post.id) %></td>
    <td><%= link_to 'つぶやきを削除する', post_path(post.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %></td>
  </tr>
<% end %>
</table>
<%= link_to 'またつぶやく！', new_post_path %>