<%= render 'header' %>
<p><%= notice %></p>
<table>
  <tr>
    <th>内容</th>
    <th>作成日時</th>
    <th>更新日時</th>    
  </tr>
<% @posts.each do |post| %>
  <tr>
    <td><%= post.content %></td>
    <td><%= post.created_at.strftime("%Y年 %m月 %d日 %H:%M") %></td>
    <td><%= post.updated_at.strftime("%Y年 %m月 %d日 %H:%M") %></td>
    <td><%= link_to "つぶやきを編集する", edit_post_path(post.id) %></td>
    <td><%= link_to 'つぶやきを削除する', post_path(post.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %></td>
  </tr>
<% end %>
</table>
<%= link_to 'またつぶやく！', new_post_path %>
<%= render 'footer' %>